root:{
    font-size: 16px;
    
    --color-primary: black;
    --color-secondary: rgb(206, 67, 67);
    --color-font: rgb(199, 195, 195);

    --color-shadow: rgb(52, 165, 66);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
}
html, body{
    height: 100%;
    background-color: var(--color-primary);
    font-size: 1.6rem;
}

p, i, h1 {
    color: var(--color-font)
}

i {
    font-size: 3.2rem;
}